@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
   
    margin: 0;
    
}
body {
   
<<<<<<< HEAD
   
    
   
background: linear-gradient(90deg, rgb(233, 233, 237) 0%, rgba(9,87,121,1) 35%, rgba(0,212,255,1) 100%);
=======
background-color: rgb(83, 145, 124);
>>>>>>> 38f83fad180e3e6f14fbf7bbe46bdcc619f1c486
}
/*post start*/
form h1{
    margin-top:10px;
    color:rgb(0, 0, 0);
    font-family: "Roboto Mono", monospace;
}
.wrapper-post{
    margin-top: 30px;
    position: relative;
    width:100vh;
    height:500px;
    border:2px solid black;
}
form{
    position: absolute;
    background: rgb(0, 0, 0,0.2);
    display:flex;
    align-items: center;
    text-align: center;
    margin-top:30px;
    display: inline-block;
    border-radius: 10px;
    
    

}
form .post-t input{
    margin-top:30px;
    padding:10px 30px 10px 5px;
    outline: none;
    border:none;
    border-radius:10px;
    
}
form .post-c textarea{
    margin-top: 5px;
    padding:10px 30px 60px 5px;
    outline:none;
    border-radius:10px;
    border:none;
    
}



/*post end*/

/*nav bar start*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    width:88%;
}
nav .logo{
    font-size:20px;
    font-family: "Roboto Mono", monospace;
    margin-left:10px;
    transition: ease 0.5s;
    cursor:pointer;
    color: rgb(152, 152, 152);
    transform: scale(1);

}
nav .logo:hover{
   transform: scale(1.1);
   color:white;


}
nav ul{

    display: flex;
    justify-content: space-between;
    list-style: none;
    column-gap: 20px;
}

nav ul li a{
    
    font-size: 20px;
   
    color:#d4d4dc;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
    
    font-family: "Poppins", sans-serif;
}
nav ul li a:hover{
    background: #feda6a;
    color:  #1d1e22;
}
nav ul li a i{
    margin-left:5px;
}
/*nav bar end*/


p{
    margin-top: 50px;
}


/* POSTS START */
.wrapper{
    display:inline-flex;
}
.photos{
   display: inline;
    width:500px;
    height:auto;
    border-radius: 10px;
    border:2px solid #c3195d;
    margin-top:20px;
}
.photos h3{
    margin-top: 10px;
    font-size: 20px;
    color: #2f00ff;
    font-family: "Madimi One", sans-serif;

}
.photos p{
    font-family: "Roboto Mono", monospace;
}
.photos img{
    height:100px;
   
}
/* POSTS END */
.labels{
    
    display: flex;
    background-image: url(./view-sky3.jpg);
    background-position: center;
    background-size: cover;
    justify-content:center;
    margin-top: 50px;
    padding: 10px;
   
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    align-items: center;
    height: 600px;
    
}
.labels form{

    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 100px;
    border-radius: 5px;

}
.labels form h1{
    margin-bottom: 20px;
    font-size: 40px;
    color: #dddddd;
    

}
.labels form .text-1{
    padding: 5px 30px 5px 5px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #000000;
}
.labels form .btn{
    padding: 5px 20px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    font-family: "Poppins", sans-serif;
    cursor:pointer;
    transition: ease 0.5s;
    transform:scale(1);
}
.labels form .btn:hover{
   transform: scale(1.2);
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}