@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
   
    margin: 0;
}
body {
    background: #ffffff;    
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: "Poppins", sans-serif;

}
nav ul li a{
    
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
    background: rgb(45, 174, 255);
    font-family: "Poppins", sans-serif;
}
nav ul li a:hover{
    background: #00ffa2;
    color: #ffffff;
}
p{
    margin-top: 50px;
}

/* POSTS START */
.wrapper{
    display:inline;
    justify-content: space-between;
    margin-top: 50px;
    
}
.photos{
   
    width:500px;
    height:auto;
    border-radius: 10px;
    border:2px solid #000;
    margin-top:20px;
}
.photos h3{
    margin-top: 10px;
    font-size: 20px;
    color: #2f00ff;
    font-family: "Madimi One", sans-serif;

}
.photos p{
    font-family: "Roboto Mono", monospace;
}
.photos img{
    height:100px;
   
}
/* POSTS END */