{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
    function confirmDeletePost() {
        return confirm('Are you sure you want to delete this post? This action cannot be undone.');
    }
    function confirmEditPost() {
        return confirm('Are you sure you want to edit this post?');
    }
</script>

{% if user.id == post.sender_id or user.is_superuser %}
<div class="wrapper_share_post">
<form method="POST" action="{% url 'edit_post' post.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div><h1>Post</h1></div>
    <div class="share_post_title_content">
        <input class="title" type="text" name="title" required value={{post.title}}>
        <textarea class="content" name="content" required>{{ post.content }}</textarea>
    </div>
    <div class="share_image_pdf">
        <input
          type="file"
          name="image"
          accept="image/*"
          id="image-input"
          class="file-input"
        />
        <label for="image-input" class="file-input-button">Choose Img</label>
  
        <input
          type="file"
          name="pdf"
          accept=".pdf"
          id="pdf-input"
          class="file-input"
        />
        <label for="pdf-input" class="file-input-button">Choose PDF</label>
      </div>
    <div class="post_public_catregory">
        <div class="post_public_private">
        <select name="visibility" required value=>
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
        </div>
        <div class="post_category">
        <select name="catagory" required placeholder="catagory">
            <option value="News">News</option>
            <option value="Question">Question</option>
            <option value="Even">Event</option>
            <option value="Tips">Tips</option>
            <option value="Other">Other</option>
        </select>
        </div>
    </div>
    <button class="post-btn" type="submit" class="btn btn-primary" name='btnPostEdite' onclick="return confirmEditPost()">Post</button>
</form>
<form method="POST" action="{% url 'edit_post' post.id %}">
    {% csrf_token %}
    <button class="post-btn" type="submit" class="btn btn-primary" name='btnPostDelete'  onclick="return confirmDeletePost()" >Delete the post</button>
</form>
{% else %}
<div> <h1 style="color: red;">403 Forbidden</h1>
    <p style="color: red;">You are not allowed to change the post.</p>
</div>
</div>
<script>
    setTimeout(function() {
        window.location.href = "{% url 'view_post' post.id %}";
    }, 2000);
</script>
    
{% endif %}
{% endblock %}