{% if post.active %}
       
    <div class="wrapper">
        <div class="photos">
            <h3 >{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <p>Posted date:{{ post.date_posted }}</p>
            <p>{{ post.sender_name }}</p>
            <p>{{ post.catagory }}</p>
            {% if post.image %}
            <img  src="{{ post.image.url }}" alt="Post Image">
            {% endif %}
            <a href="{% url 'view_post' post.id %}" class="btn btn-primary">go to the post</a>
            {% if user.is_superuser %}
            <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit</a>
            {% endif %}
            {% include 'comments/comments.html' %}
        </div>
    </div>
{% endif %}