{% extends "base.html" %}
{% block content %}
{% if post.active %}
<div class="container_post go">
  <div class="wrapper_post go">
    <h3>{{ post.title }}</h3>
    <div class="posted_paragraph_image">
      {% if post.image %}
      <img src="{{ post.image.url }}" alt="Post Image">
      {% endif %}
      <div class="ab">
        <p class="sender">
          Author:&nbsp;&nbsp;
          <div class="profile_post">
            <img src="{{ post.owner.profile.image.url }}" alt="Comment Image">
          </div>
          &nbsp;<a href="{% url 'view_profile' post.sender_id %}">{{ post.sender_name }}</a>
        </p>
      </div>
      <p>{{ post.content }}</p>

      <div class="btn_post_all">
        {% if post.pdf %}
          <a href="{{ post.pdf.url }}" download="{{ post.title|slugify }}.pdf" class="btn post_download_pdf">Download PDF</a>
        {% endif %}
        {% if user.is_superuser or post.sender_id == user.id %}
          <a href="{% url 'edit_post' post.id %}" class="btn post_edit">Edit this post</a>
        {% endif %}
      </div>

    </div>
    <div class="category_author_date_post">
      <p class="category">Category: {{ post.get_category_display }}</p>
      <p class="date">Date: {{ post.date_posted }}</p>
    </div>
    {% if user.is_authenticated %}
      {% include 'form/add_comment.html' %}
    {% endif %}
    {% include 'comments/comments.html' %}
  </div>
</div>
{% endif %}
{% endblock %}
