{% extends "base.html" %}
{% block content %}
<div class="log_in">
  <form method="POST">
    <div class="leaf">
    </div>
    <div class="butterflies">
    </div>
    <div class="leaf_2">
    </div>
    <div class="girrafe">
    </div>
    <h1 class="head">Log in</h1>
    {% csrf_token %}

    {% if user_not_exists %}
    <p class="account_not_exists">&#x1F5D9; This Account does not exist, Create Account?</p>
    <li><a href="{% url 'signup' %}">sign up</a></li>
    {% endif %}

    {% if logged_in %}
      {% if user.first_name and user.last_name %}
      <p class="log_in_successfull">&#10004; Welcome {{ user.first_name }} {{ user.last_name }}</p>
      {% else %}
      <p class="log_in_successfull">&#10004; Welcome {{ user.username }}</p>
      {% endif %}
      <script>
      setTimeout(function () {
        window.location.href = "{% url 'home' %}";
      }, 2000);
      </script>
    {% endif %}

    <input
      class="text-1"
      type="text"
      name="username"
      required
      placeholder="Username"
      onkeypress="return event.charCode !== 32"
    />
    
    <input
      class="text-1"
      type="password"
      name="password"
      required
      placeholder="Password"
      onkeypress="return event.charCode !== 32"
    />
  
    {% if user.is_authenticated %}
    <p class="password_correct">&#10004; You logged in as {{user.username}}</p>
    {% endif %} {% if password_not_match %}
    <p class="password_incorrect">&#x1F5D9; Password is not correct !</p>
    {% endif %} {% if logged_in %}
    <script>
      setTimeout(function () {
        window.location.href = "{% url 'home' %}";
      }, 2000);
    </script>
    {% endif %}
    <input class="btn" type="submit" value="Login" />
  </form>
</div>
{% endblock %}
