{% extends 'base.html' %}

{% block content %}
{% if messages %}
<script type="text/javascript">
  {% for message in messages %}
    alert("{{ message }}");
  {% endfor %}
</script>
{% endif %}

<script type="text/javascript">
  function confirmDelete() {
    return confirm("Are you sure you want to delete your account? This action cannot be undone.");
  }
</script>

<div class="profile_setting_container">
  <div class="profile_setting_wrapper">
    <h2>Profile Settings</h2>
    {% if user.profile.image %}
    <img src="{{ user.profile.image.url }}" alt="Profile Picture" height="200" />
    {% endif %}
    
    <div class="profile_setting1">
      <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="image">Profile Picture:</label>
          <input type="file" name="image" accept="image/*" />
        </div>
        <button type="submit" class="btn btn-primary" name="btnUpdateProfile">Update Profile</button>
      </form>

      <form method="POST" action="{% url 'profile' %}">
        {% csrf_token %}
        <input class="profile_input" type="text" name="UsernameField" required placeholder="Username: {{user.username}}" readonly />
        <input class="profile_input" type="text" name="IdField" required placeholder="User ID: {{user.id}}" readonly />
        {% if user.email %}
        <input class="profile_input" type="text" name="EmailField" required placeholder="{{user.email}}" readonly />
        {% endif %}

        <h3>{% if user.email %}Change E-mail{% else %}Add E-mail{% endif %}</h3>
        <div class="form-group">
          <input class="profile_input_enter" type="text" name="NewMail" required placeholder="Enter the new email:" />
        </div>
        {% if email_changed %}
        <p class="email_changed">&#10004; Email changed successfully</p>
        {% elif email_exists %}
        <p class="email_exists">&#x1F5D9; Email already exists!</p>
        {% elif None_input %}
        <p class="email_empty">&#x1F5D9; Email field empty!</p>
        {% endif %}
        <button type="submit" class="btn" name="btnMailChange">
          {% if user.email %}Change your email{% else %}Add E-mail{% endif %}
        </button>
      </form>
    </div>
    
    <div class="profile_setting2">
      <form method="POST" action="{% url 'profile' %}">
        {% csrf_token %}
        <h3>Change the password</h3>
        <div class="form-group">
          <input class="profile_input_enter" type="password" name="current_password" required placeholder="Current Password" />
        </div>
        <div class="form-group">
          <input class="profile_input_enter" type="password" name="new_password1" required placeholder="New Password" />
        </div>
        <div class="form-group">
          <input class="profile_input_enter" type="password" name="new_password2" required placeholder="New Password again" />
        </div>
        {% if password_changed %}
        <p class="password_changed">&#10004; Password changed successfully</p>
        {% elif passwords_not_match %}
        <p class="password_doesnt_match">&#x1F5D9; Passwords do not match!</p>
        {% elif password_incorrect %}
        <p class="password_incorrect">&#x1F5D9; Incorrect password!</p>
        {% endif %}
        <button type="submit" class="btn btn-primary" name="btnPassChange">Change Password</button>
      </form>

      <form method="POST" action="{% url 'profile' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" name="btnDeleteAccount" onclick="return confirmDelete()">Delete Account</button>
      </form>
    </div>
  </div>
</div>

{% for post in posts %}
  {% if post.sender_id == user.id and not user.is_superuser %}
  <div class="container_post">
    <div class="wrapper_post">
      <h3>{{ post.title }}</h3>
      <div class="posted_paragraph_image">
        <p>{{ post.content }}</p>
        <p>Posted date: {{ post.date_posted }}</p>
        <a href="{% url 'view_profile' post.sender_id %}">
          <p>
            <img src="{{ post.owner.profile.image.url }}" alt="Comment Image" /> sender: {{ post.sender_name }}
          </p>
        </a>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post Image" />
        {% endif %}
        <p>{{ post.content }}</p>
        <div class="btn_post_all">
          {% if post.pdf %}
          <a href="{{ post.pdf.url }}" download="{{ post.title|slugify }}.pdf" class="btn btn-primary">Download PDF</a>
          {% endif %}
          <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'view_post' post.id %}" class="btn btn-primary">Go to the post</a>
        </div>
      </div>
      <div class="category_author_date_post">
        <p class="category">Category: {{ post.get_category_display }}</p>
        <p class="sender">Author: {{ post.sender_name }}</p>
        <p class="date">Date: {{ post.date_posted }}</p>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}

{% if user.is_superuser %}
<div class="grid-container">
  {% for uSer in UserS %}
  <div class="user_container">
    <div class="user_id_name">
      <h3 class="username_h3">Username: {{ uSer.username }}</h3>
      <h3 class="user_id_h3">User ID: {{ uSer.id }}</h3>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
