{% extends 'base.html' %}
{% block content %}
<div class="comple_view">
<div class="view_profile">
    <div class="view_profile_header">
<p>{{ profilo.first_name }} {{ profilo.last_name }}</p>
{% if profilo.profile.image %}
            <div class="profile_image_view">
                <img src="{{ profilo.profile.image.url }}" alt="Profile Picture" >
            </div>
      {% endif %}

      </div>
     
</div>
{% if profilo.profile.bio %}
<div class="biography">
    <div class = "bio">
    <p>{{ profilo.profile.bio }}</p>
    </div>
</div>
{% endif %}
<div class = "ne_lan_div">
{% for post in posts %}
        {% if  post.sender_id == profilo.id %}
            {% if post.active %}
           {% include "posts/post.html" %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}