.container_post.go{
  display: flex;
  justify-content: center;
}
.wrapper_post.go{
  border:2px solid black;
  height: fit-content;
  width:1200px;
  
}
.wrapper_post.go img{
  max-height: 400px;
  max-width: 300px;
  
}
.wrapper_post.go .view_p{
  max-height: 1000px;
}
