.about_us_container {
height:calc(100vh - 100px);
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
}
.about_us_container a{
  text-decoration: none;

}
.about_us_wrapper {
  height: 500px;
  column-gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.about_us_person {
 
  width: 400px;
  height: 450px;
  border: 2px solid #f39308;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.4);
  transform: scale(1);
  transition: all 0.5s;
  cursor: pointer;
}

.about_us_person:hover {
  transform: scale(1.1);
  background: #23425f;
}

.about_us_person h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #f39308;
  margin-top: 10px;
  font-family: "Chakra Petch", sans-serif;
}
.about_us_person i {
  margin-top: 60px;
  color: #f39308;
  font-size: 80px;
  text-align: right;
}
.about_us_person p {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #f39308;

  font-family: "Chakra Petch", sans-serif;
} 

@media screen and (max-width: 1350px) {
  .about_us_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .about_us_person h1{
    font-size: 25px;
  }
  .about_us_person i{
    font-size: 25px;
  }
  .about_us_person {
    width: 350px;
    height: 400px;
  }
  .about_us_person p {
    font-size: 20px;
  }

}
@media screen and (max-width: 1200px) {
  .about_us_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .about_us_person h1{
    font-size: 20px;
  }
  .about_us_person i{
    font-size: 25px;
  }
  .about_us_person {
    width: 250px;
    height: 300px;
  }
  .about_us_person p {
    font-size: 15px;
  }

}

@media screen and (max-width: 900px) {
  .about_us_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .about_us_person {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 150px;
  }
 
  .about_us_person h1{
    margin-bottom: -50px;
    font-size: 20px;
  }
  .about_us_person i{
    margin-top: 60px;
    font-size: 25px;
  }
  
  .about_us_person p {
    margin-top: 30px;
    font-size: 10px;
  }
  .about_us_person .isa{
    margin-top: 70px;
  }
  .about_us_person .fethi{
    margin-top: 70px;
  }
}
