@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.view_profile{
  font-family: "Poppins", sans-serif;
  
  display: flex;
  justify-content: center;
 

}
.view_profile p{
  color:#fa7006;
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: bold;
 
  
}
.view_profile_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.view_profile .profile_image_view{
  width: 210px; 
  height: 210px; 
  border-radius: 50%; 
  overflow: hidden; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border: 2px solid #fa7006;
}
.profile_image_view img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.biography{
  display: flex;
  justify-content: center;  
  margin-top: 40px;
  height: 200px;
  align-items: center;

  margin-bottom: -200px;

}
.biography .bio{
  
  width:600px;
  min-height: 200px;
  border-radius: 50px 0px 50px 50px;
  align-items: center;
  text-align: center;
}

.biography .bio p{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-top: -30px;
  margin-left: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  padding-left: 10px;
  padding-right:15px;
}

.ne_lan_div{
  margin-top: 200px;
}