{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <link rel="icon" href="{% static 'css/Fethi.png' %}" type= "image/jpg"/>

    
    <title>Profile:{{user.username}}</title>
    <link rel="stylesheet" href="{% static 'css\pages\profile.css' %}">
    <link rel="stylesheet" href="{% static 'css\posts\view_post.css' %}">
    <link rel="stylesheet" href="{% static 'css\pages\home.css' %}">
    <link rel="stylesheet" href="{% static 'css\posts\post.css' %}">
    <link rel="stylesheet" href="{% static 'css\posts\posts.css' %}">
    <link rel="stylesheet" href="{% static 'css\comments\commentsLimited.css' %}">
    <link rel="stylesheet" href="{% static 'css\comments\comment.css' %}">
    <link rel="stylesheet" href="{% static 'css\form\add_comment.css' %}">
    <link rel="stylesheet" href="{% static 'css\form\edit_comment_btn.css' %}">
    
    <link rel="stylesheet" href="{% static 'css\pages\about.css' %}">
    
    <link rel="stylesheet" href="{% static 'css\pages\sign.css' %}">
    
    <link rel="stylesheet" href="{% static 'css\pages\login.css' %}">
    
    
    <link rel="stylesheet" href="{% static 'css\form\add_comment.css' %}">
    <link rel="stylesheet" href="{% static 'css\comments\comments.css' %}">
    <link rel="stylesheet" href="{% static 'css\comments\comment.css' %}">
    <link rel="stylesheet" href="{% static 'css\form\edit_comment_btn.css' %}">
    
    <link rel="stylesheet" href="{% static 'css\pages\view_profile.css' %}">
   
    <link rel="stylesheet" href="{% static 'css\form\edit_comment.css' %}">
    
    <link rel="stylesheet" href="{% static 'css\posts\edit_post.css' %}">
    
    
    
    <link rel="stylesheet" href="{% static 'css\base.css' %}">
    <link rel="stylesheet" href="{% static 'css\nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css\404.css' %}">
    <link rel="stylesheet" href="{% static 'css\500.css' %}">
    



    {% include "Navbar.html"%}
    
    
    <title>UOLP | CHAT</title>
   
</head> 

    {% block content %}
    <p class='paragraph'>ONLY Base</p>
    {% endblock %}
    
</body>
</html>
