{% load static %}
<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <!-- pages -->
    <link rel="stylesheet" href="{% static 'css\pages\profile.css' %}">
    <link rel="stylesheet" href="{% static 'css\pages\view_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css\pages\about.css' %}">
    <link rel="stylesheet" href="{% static 'css\pages\home.css' %}">
    <link rel="stylesheet" href="{% static 'css\pages\login.css' %}">
    <link rel="stylesheet" href="{% static 'css\pages\sign.css' %}">
    <!-- posts -->
    <link rel="stylesheet" href="{% static 'css\posts\post.css' %}">
    <link rel="stylesheet" href="{% static 'css\posts\posts.css' %}">
    <link rel="stylesheet" href="{% static 'css\posts\edit_post.css' %}">
    <link rel="stylesheet" href="{% static 'css\posts\edit_comment.css' %}">
    <link rel="stylesheet" href="{% static 'css\posts\view_post.css' %}">
    <!-- form -->
    <link rel="stylesheet" href="{% static 'css\form\add_comment.css' %}">
    <link rel="stylesheet" href="{% static 'css\form\edit_comment.css' %}">
    <link rel="stylesheet" href="{% static 'css\form\edit_comment_form.css' %}">
    <!-- comments -->
    <link rel="stylesheet" href="{% static 'css\comments\comment.css' %}">
    <link rel="stylesheet" href="{% static 'css\comments\comments.css' %}">
    <link rel="stylesheet" href="{% static 'css\comments\commentsLimited.css' %}">



    {% include "navbar.html" %}
    
    
    <title>UOLP | CHAT</title>
    <link rel="icon" href="{% static 'instagram-icon.png' %}" />
   
</head> 

    {% block content %}
    <p class='paragraph'>ONLY Base</p>
    {% endblock %}
    
</body>
</html>
