
{% if comment.post.id == post.id %}
    <div class="comment_container_homepage">  
        
        
            

            <div class="ab">
                <p class="sender">
                  <div class="profile_post">
                    <img src="{{ comment.owner.profile.image.url }}" height="30" alt="Comment Image">
                  </div>
                  &nbsp;<a href="{% url 'view_profile' comment.sender_id %}">{{ comment.sender_name }}</a>
                </p>
              </div>


       
        
        <h4 class="comment_content">{{ comment.content }}</h4>

        

        <h4 class="comment_date">{{ comment.date_posted }}</h4>
        {% include 'form/edit_comment_btn.html' %}
    </div>
    {% endif %}