
{% if comment.post.id == post.id %}
    <div class="comment_container_homepage">  
        
        
            

            <div class="ab">
                <p class="sender">
                  <div class="profile_post">
                    <img src="{{ comment.owner.profile.image.url }}" height="30" alt="Comment Image">
                  </div>
                  &nbsp;<a href="{% url 'view_profile' comment.sender_id %}">{{ comment.sender_name }}</a>
                </p>
              </div>


       
              <div class="comment_line">
                <h4 class="comment_content" id="comment{{ forloop.counter }}">{{ comment.content }}</h4>
                <button class="read_more_button" onclick="toggleReadMore('comment{{ forloop.counter }}')" style="display: none;">Read more...</button>
            </div>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            var comments = document.querySelectorAll('.comment_content');
            comments.forEach(function(comment) {
                if (comment.scrollHeight > comment.clientHeight + 1) {
                    comment.nextElementSibling.style.display = 'inline-block'; // Show the "Read more..." button
                }
            });
        });
        
        function toggleReadMore(commentId) {
            var commentContent = document.getElementById(commentId);
            var button = commentContent.nextElementSibling;
            if (commentContent.classList.contains('expanded')) {
                commentContent.classList.remove('expanded');
                button.textContent = 'Read more...';
            } else {
                commentContent.classList.add('expanded');
                button.textContent = 'Read less';
            }
        }
        
        </script>
        

        <p class="comment_date">{{ comment.date_posted }}</p>
        {% include 'form/edit_comment_btn.html' %}
    </div>
    {% endif %}