
{% if comment.post.id == post.id %}
    <div class="comment_container_homepage">  
        
        <a href="{% url 'view_profile' comment.sender_id %}">
            
        <h2 class="comment_user"><img src="{{ comment.owner.profile.image.url }}" height="30" alt="Comment Image">{{ comment.sender_name }}</h2></a>
        
        <h4 class="comment_content">{{ comment.content }}</h4>

        

        <h4 class="comment_date">{{ comment.date_posted }}</h4>
        {% include 'form/edit_comment_btn.html' %}
    </div>
    {% endif %}