{% extends 'base.html' %} {% block content %}
<div class="about_us_container">
  <div class="about_us_wrapper">
    <div class="about_us_person person1">
      <h1>BACK-END</h1>
      <h1><i class="fa-solid fa-gears"></i></span>
      <p>MHD Hadi Said Alkaddour</p>
    </div>

    <div class="about_us_person person2">
      <h1>FRONT-END</h1>
      <h1><i class="fa-solid fa-code"></i></h1>
      <p>Fethi Öcalan</p>
    </div>

    <div class="about_us_person person3">
      <h1>DOCUMENTOR</h1>
      <h1><i class="fa-solid fa-file"></i></h1>
      <p>Abubakar Bammami Isa</p>
    </div>
  </div>
</div>
{% endblock %}
