{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css\style.css' %}">


    {% if user.is_authenticated %}
    <div class="wrapper-post">
        <form method="POST" action="{% url 'home' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div><h1>Posts</h1></div>
            <div class="post-t">
                <input type="text" name="title" required placeholder="Title">
            </div>
            <div class="post-c">
                <textarea class="inside-post-c"  name="content" required placeholder="Write your post..." ></textarea>
            </div>
            <div class="post-i">
                <input type="file" name="image" placeholder="image">
            </div>
            <div class="post-pub-pri">
                <select name="visibility" required placeholder="visibility">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
            <div class="post-category">
                <select name="catagory" required placeholder="catagory">
                    <option value="News">News</option>
                    <option value="Question">Question</option>
                    <option value="Even">Event</option>
                    <option value="Tips">Tips</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <button class="post-btn" type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>

    {% endif %}


    {% include "posts/posts.html" %}


{% endblock content %}
