{% extends "base.html" %}

{% block content %}
<div class="labels">
    <form method="POST">
        <h1>Log in</h1>
        {% csrf_token %}
        {% if user_not_exists %}
            <p>This Account does not exist, Create Account?</p>
            <li><a href="{% url 'signup' %}">sign up</a></li>
        {% endif %}
        <input class="text-1" type="text" name="username" required placeholder="Username" onkeypress="return event.charCode !== 32">
        <br>
        <input class="text-1" type="password" name="password" required placeholder="Password" onkeypress="return event.charCode !== 32">
        <br>
        {% if user.is_authenticated %}
            <p>You logged in as {{user.username}}</p>
        {% endif %}
        {% if password_not_match %}
            <p>Password is not correct</p>
        {% endif %}
        {% if logged_in %}
        <script>
            setTimeout(function() {
                window.location.href = "{% url 'home' %}";
            }, 2000);
        </script>
        {% endif %}
        <input class="btn" type="submit" value="Login">
    </form>
</div>
{% endblock %}
