.comment_container_homepage{
  border:1px solid black;
  text-align: left;
  padding:5px 10px;
  border-radius: 0px 10px 10px 10px;
  margin-bottom: 5px;
  position: relative;
}
.comment_container_homepage h4{
 color:rgb(0, 0, 0);
 font-size:15px;
 margin-left: 40px;

 margin-bottom: 15px;
 word-wrap: break-word;
 

 
}
.comment_container_homepage p{
  font-size: 10px;
  font-weight: 400;
}
.comment_container_homepage .comment_date{
  position: absolute;
  color:rgb(97, 97, 97);
  font-size: 8px;
  left: 15px;
  bottom: 5px;
}